body {
    padding: 10px 30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Preview */

.list {
    Height: 230px;
    vertical-align: middle;
    border: 1px solid black;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}

.list img {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    margin: 5px;
}

.selected {
    border: 1px solid black;
}

.content {
    height: 100%;
    padding: 20px 0;
}

.content img {
    width: 50%;
    border: 1px solid black;
    margin: 0 5px 20px 0;
}

.imageInfo {
    display: inline-block;
    height: 100%;
    position: absolute;
}

.descriptionText {
    color: darkgray;
}

.footer {
    bottom: 0;
    height: 40px;
    border-top: 3px dotted gainsboro;
    width: 100%;
}

.footer input {
    float: left;
    margin: 5px;
}