@using Core.Contract.Models
@model IEnumerable<ImageView>

@{
    ViewBag.Title = "Index";
}

<div id="list" class="list">
    <!-- ko foreach: model.images -->
    <img data-bind="attr: { src: Url }, click: $root.highlightImageHandler "/>
    <!-- /ko -->
</div>
<div class="content">

</div>
<div class="footer">
    <input type="file" id="fileUpload" />
    <input type="button" id="btnUpload" value="Upload and preview" />
</div>