@{
    ViewBag.Title = "Index";
}

<div data-bind="foreach: ah.model.images" id="list" class="list">
    <img data-bind="attr: { src: Url }, click: $root.highlightImageHandler " />
</div>
<!-- ko with: ah.model -->
<div data-bind="if: displaySelectedImage" class="content">
    <img data-bind="attr: { src: selectedImage.Url }" />
    <div data-bind="if: displayExif" class="imageInfo">
        <b>Image Info</b><br>
        <div data-bind="html: getExif()"></div>
    </div>
    <div>
        User Image Description:
        <a data-bind="ifnot: editingMode, click: editDescription" href="">(edit)</a>
        <a data-bind="if: editingMode, click: saveDescription" href="">(save)</a>
        <div data-bind="ifnot: editingMode">
            <p class="descriptionText" data-bind="text: selectedImage.Description"></p>
        </div>
        <div data-bind="if: editingMode">
            <textarea data-bind="value: selectedImage.Description"></textarea>
        </div>
    </div>
</div>
<!-- /ko -->
<div class="footer">
    <input type="file" id="fileUpload" />
    <input type="button" id="btnUpload" value="Upload and preview" />
</div>