@{
    ViewBag.Title = "Index";
}

<!-- ko with: ah.model -->
<div data-bind="foreach: images" id="list" class="list">
    <img data-bind="attr: { src: Url }, click: $root.highlightImageHandler " />
</div>
<div data-bind="if: displaySelectedImage" class="content">
    <img data-bind="attr: { src: selectedImage.Url }" />
    <div class="imageInfo">
        <b>Image Info</b><br>
        <!-- ko if: displayExif -->
        <div data-bind="html: getExif()"></div>
        <!-- /ko -->
        <div data-bind="ifnot: displayExif">Image doesnot have any data</div>
    </div>
    <div>
        User Image Description:
        <a data-bind="ifnot: editingMode, click: editDescription" href="">(edit)</a>
        <a data-bind="if: editingMode, click: saveDescription" href="">(save)</a>
        <div data-bind="ifnot: editingMode">
            <p class="descriptionText" data-bind="text: selectedImage.Description"></p>
        </div>
        <div data-bind="if: editingMode">
            <textarea data-bind="value: selectedImage.Description"></textarea>
        </div>
    </div>
</div>
<div class="footer">
    <input data-bind="event: { change: () => file = $element.files[0] }" type="file" />
    <input data-bind="click: uploadImage" type="button" value="Upload and preview" />
</div>
<!-- /ko -->